.container {
  --container-max: 600px;
  margin-block-start: var(--size-12);
}

.changePassword {
  &Container {
    display: flex;
    flex-direction: column;
  }

  &Avatar {
    align-self: center;
    border-radius: 50%;
    overflow: hidden;

    &Img {
      object-fit: cover;
    }
  }

  &Form {
    display: flex;
    flex-flow: column nowrap;
    gap: var(--size-4);
    margin-block-start: var(--size-8);
  }

  &Controls {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    gap: var(--size-4);
    margin-block-start: var(--size-10);
  }
}
