.main__container {
  --container-max: 400px;
}

.login {
  &-title {
    font-size: var(--font-size-4);
    margin: 0;
    margin-bottom: var(--size-4);
    text-align: center;
  }

  &-card {
    height: 600px;
  }

  &-form,
  &-controls {
    display: flex;
    flex-flow: column nowrap;
  }

  &-form {
    height: 100%;
    gap: var(--size-6);
  }

  &-controls {
    margin-top: auto;
    gap: var(--size-4);
  }

  &-link {
    text-align: center;
  }
}
