.container {
  --container-max: 600px;

  margin-block-start: var(--size-12);
}

.profile {
  &Container {
    display: flex;
    flex-direction: column;
  }

  &Form {
    display: grid;
    grid-template-columns: repeat(2, minmax(250px, 1fr));
    gap: var(--size-4);
    margin-block-start: var(--size-8);
  }

  &Email,
  &Login {
    grid-column: 1/-1;
  }

  &Controls {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    gap: var(--size-4);
    grid-column: 1/-1;
    margin-block-start: var(--size-10);
  }
}
