.container {
  --container-max: 600px;
  margin-block-start: var(--size-12);
}

.changeProfile {
  &Container {
    display: flex;
    flex-direction: column;
  }

  &Avatar {
    align-self: center;
    border-radius: 50%;
    overflow: hidden;

    &Img {
      object-fit: cover;
    }
  }

  &Form {
    display: grid;
    grid-template-columns: repeat(2, minmax(250px, 1fr));
    gap: var(--size-4);
    margin-block-start: var(--size-8);
  }

  &Email,
  &Login {
    grid-column: 1/-1;
  }

  &Controls {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    grid-column: 1/-1;
    margin-block-start: var(--size-9);
  }
}
