.form {
  &Container {
    --container-max: 400px;
    background-color: #242424;
  }
  &Button {
    margin-block-start: var(--size-4);
    width: 100%;
  }
  &Fields {
    margin-block-start: var(--size-6);
  }

  &Title {
    margin-block-start: 0;
    text-align: center;
  }
}
